<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.yaafl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMain"
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61a0becf015c25aebd53d539aea6b732c77e1890" />

        <activity android:name=".activities.HomeTeamSelector" />
        <activity android:name=".activities.AwayTeamSelector" />
        <activity android:name=".activities.FinalizeActivity" />

        <receiver android:name=".widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>

        <activity android:name=".activities.FinalResultActivity"/>
    </application>

</manifest>